@media screen and (min-width: 328px) {

    .chartbar{
        content: "";
        background: cornflowerblue;
        border-radius: 0.1rem;
        width: 10vw;
        margin: 0.5rem;
        
        &-title{
            writing-mode: vertical-rl;

        }
    }
}