@media screen and (min-width: 328px) {

    .datagraph__display-data{
        display: flex;
        flex-direction: row;
        width: 100vw;
        border: 2px solid black;
        overflow-x: scroll;
        height: 70vh;
    }
}